body{
    background-image: url("StrayDogs.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
.info{
    display: flex;
    padding: 20px;
    font-size: 40px;
    align-items: center;
    justify-content: center;
}
.timer{
    margin-right: 30px;
    font-weight: bold;
    color: black;
    text-align: center;
}
.start{
    padding: 10px;
    font-weight: bold;
    font-size: 40px;
    color: black;
    text-align: center;
    background: white;
    margin-right: 40px;
}
.score{
    font-weight: bold;
    color: black;
    text-align: center;
}
.field{
    place-content: center;
    width: 600px;
    height: 600px;
    background-color: white;
    margin: auto;
    padding: 10px;
}
.row{
    margin-top: 5px;
    margin-left: 10px;
}
.cell{
    width: 140px;
    height: 140px;
    background: black;
}
